<!-- Navbar -->
<nav class="navbar nav-list">
	<%= image_tag 'cine.png' %>
	<%= link_to "Create new list", new_list_path, class: "btn btn-outline-success"%>
</nav>

<!-- Banner -->
<section class="banner-fondo"></section>

<!-- List Genders-->
<div class="container">
	<% @lists.each do |list| %>
		<div class="card-genders">
			<h2 class="title-card-genders"> <%= list.name.capitalize() %> </h2>
			<% img = image_tag 'cine.png', class: "img-card-genders"%>
			<%= link_to img, list_path(list) %>
		</div>
	<% end %>
</div>