.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  max-width: 100%;
  padding-left: 2%;
  margin-top: 50px;
}


.card-reviews {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative;
  right: 36%;
}