.card-genders{
	background-color: white;
	width: 13rem;
	height: 180px;
	margin-top: 15px;
	border-radius: 10px;
	opacity: 0.5;
	transition: opacity .5s;
	padding: 0 10px;

	&:hover{
		opacity: 1;
	}

	.title-card-genders{
		text-align: center;
	}

	.img-card-genders{
		height: 220px;
	}
}

.card-movie{
	background-color: white;
	width: 18rem;
	height: 405px;
	margin: 10px;
	opacity: 0.5;
	transition: opacity .3s;

	&:hover{
		opacity: 1;
	}


	.title-card-movie{
		text-align: center;
		height: 13%;
		font-size: 28px;
	}

	.overview-card-movie{
		color: #0D6EFD;
		height: 17%;
	}
	img{
		height: 70%;
		width: 100%;
	}

	em{
		color: white;
		border: solid white 0.5px;
	}
}

.card-review {
	background-color: white;
	border-radius: 16px;
	height: 44px;
	line-height: 38px;
	margin-top: 7px;

	img{
		height: 40%;
	}
}